
* {
  margin: 0;
  outline: 0;
  box-sizing: border-box;
  padding: 0;
  color: #fff;
}


.active {
  font-weight: bold;
  color: #d5a353;
  border-bottom: 1px solid #eee;
  border: #85838370;
}
::-webkit-scrollbar {
  width: 10px;
}

body {
  overflow-x: hidden;
}
@tailwind base;
@tailwind components;
@tailwind utilities;